RH_CLIENT_ID=
RH_CLIENT_SECRET=
CRC_API_HOST=https://api.crc.testing:6443
EDA_WEBHOOK_URL=http://127.0.0.1:5000/endpoint
EDA_WEBHOOK_TOKEN=
SLACK_WEBHOOK_URL=
STALE_DAYS=2
MIN_GAP_PCT=20
MIN_SAVING_USD=5
CPU_RATE=0.03
MEM_GIB_RATE=0.005
